*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: $main-font;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.container {
  max-width: 1440px;
  // padding: 0 250px;
  // margin: 0 auto;
}

.container.underscore {
  border-bottom: 1px solid $border-gray-color;
}

.container-small {
  max-width: 980px;
  padding: 0 20px;
}

.pos-rel {
  position: relative;
}

.anchor {
  position: relative;
}

.d-fl {
  display: flex;
}
