.footer {
  &__newsletter {
    background-color: $dark-black-background;
  }
}
.newsletter {
  align-items: center;
  justify-content: center;
  padding: 30px 0;

  &__title {
    font: $size4-font;
    color: $white-color;
    padding-right: 70px;
    letter-spacing: 0.8px;
  }

  &__email {
    padding: 12px 0 12px 16px;
    font: $size9-font;
    color: $main-color;
  }

  &__signup {
    padding: 10px 48px;
  }
}

footer {
  .footer {
    &__about {
      width: 25%;
      margin-right: 70px;

      p {
        padding-bottom: 20px;
      }

      img {
        padding-bottom: 15px;
      }

      span {
        font: $size14-font;
        letter-spacing: 0.9px;
        color: $white-color;
      }
    }

    &__nav {
      width: 50%;

      p {
        padding-bottom: 15px;
      }

      ul {
        padding-right: 35px;
      }
      ul li a {
        font: $size13-font;
        color: $white-color;
        letter-spacing: 0.85px;
      }
    }

    &__contact {
      width: 15%;

      p {
        padding-bottom: 15px;
      }

      &__link {
        padding-bottom: 20px;
      }

      &__item {
        font: $size15-font;
        color: $white-color;
      }
    }

    &__social {
      width: 10%;
      justify-content: center;
      margin: 0 25px 0 45px;

      &__item {
        padding: 30px 12px;

        a {
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $dark-black-background;
          color: $white-background;
          border-radius: 10px;
        }
      }
    }

    // copyrights

    &__copyrights {
      background-color: $dark-black-background;

      &__info {
        padding: 25px 0;
        font: $size16-font;
        text-align: center;
        color: $white-color;
      }
    }
  }
}

footer.footer {
  padding: 40px 0;
  background-color: $dark-blue-background;
}

// .footer__copyrights {
//   background-color: $dark-black-background;

//   &__info {
//     padding: 25px 0;
//     font: $size16-font;
//     text-align: center;
//     color: $white-color;
//   }
// }
