// nav {
//   align-items: center;
//   justify-content: space-between;
// }

// .nav {
//   padding: 25px 0;

//   &__list {
//     align-items: center;
//   }

//   &__item {
//     padding: 0 20px;
//   }
// }

.nav {
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;

  &__list {
    align-items: center;
  }

  &__item {
    padding: 0 20px;
  }

  &__link {
    font: $size12-font;
    color: $main-color;

    &--active {
      color: $blue-color;
    }
  }

  &__link:hover {
    color: $blue-color;
  }
}

@media (max-width: 767px) {
  .nav {
    a {
      padding: 10px 20px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      padding: 10px 10px;
    }

    &__link {
      font: $size7-font;
    }
  }
}

@media (max-width: 550px) {
  .nav {
    &__list {
      flex-direction: column;
      justify-content: center;
    }

    &__link {
      font: $size4-font;
    }
  }
}
