.services {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-bottom: 115px;

  &__box {
    padding: 35px 20px;
    border: 1px solid $border-gray-color;

    &__img {
      max-width: 100%;
      max-height: 100%;
      padding-bottom: 25px;
    }

    &__title {
      font: $size7-font;
      padding-bottom: 15px;
    }
  }

  &__box:hover {
    box-shadow: 0px 2px 4px $border-gray-color, 0px 2px 4px $border-blue-color;
  }
}
