.story {
  padding-bottom: 115px;

  &__unification {
    text-align: center;
    padding: 55px 0 55px;
  }

  &__title {
    font: $size6-font;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--underlining {
      width: 50px;
      border-bottom: 2px solid $blue-color;
      display: inline-block;
    }
  }
}

.storyOur {
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  &__box:hover {
    box-shadow: 0px 2px 4px $border-gray-color, 0px 2px 4px $border-blue-color;
  }

  &__title {
    font: $size5-font;
    letter-spacing: 0.2px;
    padding-bottom: 30px;

    &--color {
      color: $blue-color;
    }
  }

  &__info {
    letter-spacing: 0.2px;
  }

  &__right {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  &__picture {
    &__img {
      max-width: 220px;
      object-fit: cover;
    }
  }

  &__text {
    font: $size3-font;
    color: $white-color;
    letter-spacing: 0.2px;
    top: 20px;
    left: 20px;
    cursor: pointer;

    &--1 {
      max-width: 65px;
    }

    &--2 {
      max-width: 110px;
    }

    &--3 {
      max-width: 75px;
    }
  }

  &__text:hover {
    color: $blue-color;
  }
}

@media (max-width: 767px) {
  .story {
    padding-bottom: 60px;
  }

  .storyOur {
    grid-template-columns: 1fr;
    gap: 40px;

    &__right {
      justify-self: stretch;
    }

    &__title {
      font: $size4-font;
    }

    &__info {
      font: $size6-font;
    }
  }
}

@media (max-width: 520px) {
  .storyOur {
    &__right {
      grid-template-columns: 1fr;
      justify-self: center;
    }

    &__picture {
      &__img {
        max-width: 100%;
      }
    }
  }
}
