$main-color: #48555b;
$white-color: #ffffff;
$blue-color: #00a4e5;

$border-blue-color: #00a4e5;
$border-gray-color: #e6e6e6;

$white-background: #ffffff;
$blue-background: #00a4e5;
$dark-black-background: #171819;
$dark-blue-background: #141a20;

$bebasNeue-font: "Bebas Neue", Arial, Helvetica, sans-serif;
$openSans-font: "Open Sans", Arial, Helvetica, sans-serif;

$main-font: 400 13px/1.8 $openSans-font;

$size1-font: 400 60px/1.2 $bebasNeue-font;
$size2-font: 400 30px/1.2 $openSans-font;
$size3-font: 400 24px/1.2 $openSans-font;
$size4-font: 400 22px/1.2 $openSans-font;
$size5-font: 400 20px/1.2 $openSans-font;
$size6-font: 400 18px/1.2 $openSans-font;
$size7-font: 400 16px/1.5 $openSans-font;
$size8-font: 400 16px/1.2 $openSans-font;
$size9-font: 400 14px/1.2 $openSans-font;
$size10-font: 400 13px/1.8 $openSans-font;
$size11-font: 400 13px/1.2 $openSans-font;
$size12-font: 400 12px/1.2 $openSans-font;
$size13-font: 400 11px/2.3 $openSans-font;
$size14-font: 400 11px/1.7 $openSans-font;
$size15-font: 400 11px/1.5 $openSans-font;
$size16-font: 400 11px/1.2 $openSans-font;
