*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 13px/1.8 "Open Sans", Arial, Helvetica, sans-serif;
  color: #48555b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.container {
  max-width: 1440px;
}

.container.underscore {
  border-bottom: 1px solid #e6e6e6;
}

.container-small {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.anchor {
  position: relative;
}

.d-fl {
  display: flex;
}

.d-grid {
  display: grid;
}

.btn {
  font: 400 13px/1.8 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #00a4e5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn:hover {
  color: #48555b;
}

.footer-title {
  font: 400 11px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

header {
  min-height: 100vh;
  overflow: hidden;
  background: url(../img/big-1.png) 100%/cover no-repeat;
}

header .header__wrap {
  padding: 40px 0 70px;
  text-align: center;
}

header .header__logo {
  padding-bottom: 318px;
}

header .header__lille {
  font: 400 60px/1.2 "Bebas Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

header .header__subtitle {
  display: block;
  padding-bottom: 220px;
  font: 400 16px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

header .header__scroll {
  font: 400 11px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 3.7px;
}

header .header__scroll:hover {
  color: #00a4e5;
}

.nav {
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  align-items: center;
}

.nav__item {
  padding: 0 20px;
}

.nav__link {
  font: 400 12px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #48555b;
}

.nav__link--active {
  color: #00a4e5;
}

.nav__link:hover {
  color: #00a4e5;
}

.story {
  padding-bottom: 115px;
}

.story__unification {
  text-align: center;
  padding: 55px 0 55px;
}

.story__title {
  font: 400 18px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.story__title--underlining {
  width: 50px;
  border-bottom: 2px solid #00a4e5;
  display: inline-block;
}

.storyOur {
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.storyOur__title {
  font: 400 20px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px;
  padding-bottom: 30px;
}

.storyOur__title--color {
  color: #00a4e5;
}

.storyOur__info {
  letter-spacing: 0.2px;
}

.storyOur__right {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.storyOur__picture-img {
  max-width: 100%;
  max-height: 100%;
}

.storyOur__text {
  font: 400 24px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 0.2px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.storyOur__text--1 {
  max-width: 65px;
}

.storyOur__text--2 {
  max-width: 110px;
}

.storyOur__text--3 {
  max-width: 75px;
}

.storyOur__text:hover {
  color: #00a4e5;
}

.capability {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 75px;
}

.capability__text {
  min-width: 200px;
  padding-right: 10px;
  font: 400 18px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
}

.capability__underlining {
  width: 50px;
  border-bottom: 2px solid #00a4e5;
  display: inline-block;
}

.capability__about {
  padding-right: 30px;
  font: 400 11px/1.7 "Open Sans", Arial, Helvetica, sans-serif;
}

.capability__services {
  min-width: 150px;
  padding: 10px 30px;
}

.services {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-bottom: 235px;
}

.services__box {
  padding: 35px 20px;
  border: 1px solid #e6e6e6;
}

.services__box__img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 25px;
}

.services__box__title {
  font: 400 16px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

form {
  background-color: #171819;
}

.newsletter {
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.newsletter__title {
  font: 400 22px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding-right: 70px;
  letter-spacing: 0.8px;
}

.newsletter__email {
  padding: 12px 0 12px 16px;
  font: 400 14px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  color: #48555b;
}

.newsletter__signup {
  padding: 10px 48px;
}

footer .footer__about {
  width: 25%;
  margin-right: 70px;
}

footer .footer__about p {
  padding-bottom: 20px;
}

footer .footer__about img {
  padding-bottom: 15px;
}

footer .footer__about span {
  font: 400 11px/1.7 "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0.9px;
  color: #ffffff;
}

footer .footer__nav {
  width: 50%;
}

footer .footer__nav p {
  padding-bottom: 15px;
}

footer .footer__nav ul {
  padding-right: 35px;
}

footer .footer__nav ul li a {
  font: 400 11px/2.3 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 0.85px;
}

footer .footer__contact {
  width: 15%;
}

footer .footer__contact p {
  padding-bottom: 15px;
}

footer .footer__contact__link {
  padding-bottom: 20px;
}

footer .footer__contact__item {
  font: 400 11px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

footer .footer__social {
  width: 10%;
  justify-content: center;
  margin: 0 25px 0 45px;
}

footer .footer__social__item {
  padding: 30px 12px;
}

footer .footer__social__item a {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171819;
  color: #ffffff;
  border-radius: 10px;
}

footer .footer__copyrights {
  background-color: #171819;
}

footer .footer__copyrights__info {
  padding: 25px 0;
  font: 400 11px/1.2 "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
}

footer.footer {
  padding: 40px 0;
  background-color: #141a20;
}
/*# sourceMappingURL=style.css.map */